*{
 font-family: 'Montserrat'; 
}
 @font-face 
 { font-family: 'Montserrat';
  src:
url('fonts/montserrat-v15-latin-regular.woff2') format('woff2'); }
.hindi{
	font-family: 'Kruti Dev 025';
}
html {
    min-height: 100%;
}
body{
	color: #ffffff;
	background-color: #161625
}
h1{
	font-size: 300%
}
.sidenav1{
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  text-align: center;
  background-color: #161625; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

 #mysidenav2.sidenav2{
  display: block;
  height: 100%;
  width: 170px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #0f0f1c; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  }
  #menudiv{
    display: block;
    position: relative;
    float: left;
    left: calc((100% - 900px) / 2);
    width: 724px;
    margin: 0;
    transition: 0.5s; 

  }
.sidenav1 a, .sidenav2 a {
  padding: 8px 8px 8px 32px;

  text-decoration: none;
  font-size: 30px;
  color: #a6a4a4;
  display: block;
  transition: 0.3s;
}
.sidenav2 a {
	font-size: 20px;
}
.sidenav1 a:hover ,.sidenav2 a:hover{
  color: #ffffff;
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 55px;
  margin-left: 50px;
}
.sidenav1 .sidenavbtm{
  font-size: 20px;}

.sidenav2 .sidenavbtm{
  font-size: 15px;
		
}

.menubtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

footer{
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;
} 
#menudiv{
  margin-left: 170px;
  transition: 0.5s; 
}
.mhead h1{
	    font-size: 400%;
		text-align: center;
    	}
    	hr{
    		width: 50
    	}	
#toprk {
  border-collapse: collapse;
  width: 100%;
}

#toprk td, #toprk th {
  border: double;
  padding: 8px;
}


#toprk tr:hover {background-color: #000000;}

#toprk th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #45456b;
  color: white;
}
