*{
 font-family: 'Montserrat'; 
}

 @font-face 
 { font-family: 'Montserrat';
  src:
url('fonts/montserrat-v15-latin-regular.woff2') format('woff2');
 }

.hindi{
	font-family: 'Kruti Dev 025';
}

html {
  min-height: 100%;
}

body{
  min-height:-webkit-fill-available;
  display: flex;
  flex-direction: column;
	color: #ffffff;;
	background: linear-gradient(to right, #0f0c29, #0a0a1b, #0f0c29);
  text-shadow: 1px 0.5px 1px rgb(255, 102, 0);
  animation: fade-in 1.5s;
}

h1{
  margin-bottom: 0px;
}


a:link {
  color: white;
  text-decoration: underline dashed 0.5px;
  text-underline-offset: 20%;
  text-shadow: 1px 0.5px rgb(27, 126, 68);
}

a:visited {
  color: #00ff4c;
}

a:hover {
  color: red;
  text-shadow: 0.5px 0.5px red;
}

a:active {
  color: yellow;
}

.sidenav1{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  text-align: center;
  background-color: #080616; 
  overflow-x: hidden; 
  transition: 0.5s; 
}
.sidenavtop1{
  padding-top: 60px;
}

.active-tab{
   color: #000 !important;
  background: yellow;
}

@media all and (min-width: 725px){
  .sidenav2{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 170px !important;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #080616; 
  overflow-x: hidden; 
  transition: 0.5s;
  }
  #menudiv{
    display: block;
    position: relative;
    float: left;
    margin-left: 170px;
    transition: 0.5s;
    padding: 30px; 
    width: -webkit-fill-available;
  }
    .menubtn2 {
  display: none;
  }
  .closebtn2{
    display: none;
  }
  .sidenavtop2{
    padding-top: 60px;
  }
  #ter-foot{
    margin-top: auto;
    margin-bottom: 2px;
  }
}

@media all and (max-width: 724px){
  .sidenav2{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #080616; 
  overflow-x: hidden;
  transition: 0.5s; 
  }
  #menudiv{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    transition: 0.5s; 

  }
  .menubtn2 {
  position: absolute;
  left: 0;
  font-size: 36px;
}

.closebtn2{
    font-size: 52px;
    padding: 10px;
    margin-left: 22px;
  }
  #ter-foot{
    margin-top: auto;
    margin-bottom: 2px;
  }
}
.sidenav1 a, .sidenav2 a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  text-shadow: none;
  color: #a6a4a4;
  display: block;
  transition: 0.3s;
}
.sidenavtop1 a {
  font-size: 30px;
}
.sidenav2 a {
	font-size: 20px;
}
.sidenav1 a:hover ,.sidenav2 a:hover{
  color: #000;
  background: lightyellow;
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 55px;
  margin-left: 50px;
}
.sidenavbtm{
  font-size: 15px;}

.sidenav2 .sidenavbtm{
  font-size: 15px;
		
}


.menubtn {
  position: absolute;
  
  font-size: 36px;
  cursor: grab;
  text-shadow: none;
}

#sec-foot{
  margin-top: auto;
} 
.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding: 2px;
  width: 100%;
  border: 1px solid;
  border-radius: 20px;
  font-size: 10px;
}

.last-up{
  background-color: white;
  color: black;
  text-align: center;
  padding: 2px 10px;
  border: 1px;
  border-radius:20px;
  text-shadow: none;
}
.main-head{
  padding: 5px 10px;
  text-align: center;
  background-color: white;
  color: #000;
  transition: 1s;
  box-shadow: 5px 5px yellow;
}
.main-head h1{
  font-size: 7vw;
  text-decoration: none;
}
.main-head:hover{
  background-color: inherit;
  color: #fff;
  box-shadow: -5px -5px white;
  
}
hr.main-head-line{
  margin-top: 0px;
  border: 4px solid;
  width: 50vw;
  box-shadow: 2px 2px yellow;
}


.mhead{
  text-align: center;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  background-color: white;
  color: #000;
  transition: 1s;
  box-shadow: 10px 10px yellow;
  
}
.mhead h1{
	font-size: 5rem;
  text-shadow: 2px 2px yellow;
}
.mhead:hover{
  background-color: inherit;
  color: #fff;
  box-shadow: -10px -10px white;
}

#toprk {
  border-collapse: collapse;
  width: 100%;
}

#toprk td, #toprk th {
  border: double;
  padding: 8px;
}


#toprk tr:hover {
  background-color:#117a34;
  transition: 0.5s;
  box-shadow: 5px 5px white;
}

#toprk th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #45456b;
  color: white;
}
.tags {
  background-color: white;
  color: black;
  font-family: courier;
  font-weight: bold;
  padding: 2px 2px;
  vertical-align: super;
  font-size: 50%; 
  border-radius: 5px;
  box-shadow: 2px 2px green;
  text-shadow: none;
}


ul, #section-head {
  list-style-type: none;
}

#secton-head {
  margin: 0;
  padding: 0;
}

.anim-blink-w-r{
  color: white;
  text-shadow: none;
  animation-name: blink-w-r;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink-w-r{
  0%{color: white;}
  50% {color: red;}
  
}

@keyframes blink-b-w{
  0%{color: white;}
  50% {color: black;}
  
}

.anim-blink-y-g{
  color: yellow;
  text-shadow: none;
  animation-name: blink-y-g;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes blink-y-g{
  0% {color: yellow;}
  50% {color: green;}
}

.anim-blink-b-y-g-r{
  color: #000;
  font-size: 4rem;
  text-shadow: none;
  animation-name: anim-blink-b-y-g-r;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes anim-blink-b-y-g-r {
  0%{color: black;}
  25%{color: red;}
  50%{color: yellowgreen;}
  75%{color: blue;}


}

@keyframes fade-in {
  from { opacity: 0; }
    to { opacity: 1; }
}